@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

/*Font styles here*/
body {
  font-family: 'Poppins', sans-serif;
}

/*Variables*/
/*order none for input and button order-now*/
/*border color-for-order-div*/
/*befor background for hero sec*/
/*padding for table prices laptops*/
/*font color for tables of laptops*/
/**/
/*End variables */
/*Nav bar width and hieght*/
nav {
  z-index: 4444;
  position: fixed;
  width: 100%;
  height: 80px;
  background: #a94646;
  -webkit-box-shadow: 1px 7px 9px #ebb8b8;
          box-shadow: 1px 7px 9px #ebb8b8;
}

nav .nav-bar {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*logo here*/
nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 39px;
}

/*links here*/
nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

nav .links a {
  color: #fff;
  font-size: 20px;
}

nav .links a.active {
  background: #887b7b;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
}

nav .links a:hover {
  color: #d6c7c7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav .check {
  display: none;
}

/*End Header Side */
/*hero section Container here*/
.container {
  position: relative;
  width: 100%;
  height: 850px;
  top: 290px;
}

.container .content {
  z-index: 12;
}

.container .content .hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content .hero h1 {
  font-size: 86px;
  color: #7f90b5;
}

.container .content .hero p {
  width: 500px;
  padding: 30px 0px;
}

.container .content .hero .order-now {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #740707;
  border: 3px solid #ee1212;
  border-left: 5px solid #ee1212;
}

.container .content .hero .order-now input {
  width: 423px;
  border: none;
  text-align: center;
  font-size: 28px;
}

.container .content .hero .order-now input:focus {
  border: none;
  outline: none;
}

.container .content .hero .order-now .btn-order {
  border: none;
  padding: 0px 20px;
  background: #ee1212;
  font-size: 19px;
  color: #fff;
  cursor: pointer;
}

/*display none apple-section*/
.sec-for-apple {
  display: none;
}

/*display show*/
#call-apple.show {
  display: block;
}

/*display none or show for hp-section*/
.sec-for-hp {
  display: none;
}

#call-hp.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Dell section*/
.sec-for-dell {
  display: none;
}

#call-dell.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Lenovo Section*/
.sec-for-lenovo {
  display: none;
}

#call-lenovo.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*sec for Acer*/
.sec-for-acer {
  display: none;
}

#call-acer.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*sec for Asus*/
.sec-for-asus {
  display: none;
}

#call-asus.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*sec for MSI*/
.sec-for-msi {
  display: none;
}

#call-msi.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Sec for Razer*/
.sec-for-razer {
  display: none;
}

#call-razer.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*container for apple*/
@media screen and (max-width: 1250px) {
  nav .links {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  /*logo for phone*/
  nav {
    height: 50px;
  }
  nav .logo-for-phone {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 9px;
    font-size: 27px;
  }
  /*Nav for phone*/
  nav .nav-bar {
    width: 100%;
    padding: 0;
  }
  nav .links {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 3434334;
  }
  nav .links li {
    padding: 30px;
  }
  .links.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*Burgur butto*/
  nav {
    position: relative;
  }
  nav .btn-burgur {
    position: absolute;
    right: 3%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 30px;
    cursor: pointer;
  }
  nav .btn-burgur .line {
    width: auto;
    height: 3px;
    background: #fff;
    margin: 5px 0px;
  }
  /*header part end */
  /*hero section Container here*/
  .container {
    padding: 70px;
    background: url(../background/bg-for-phone.jpg) no-repeat center center/cover;
    width: 100%;
    height: 500px;
    -webkit-box-shadow: 0px 5px 3px #553838;
            box-shadow: 0px 5px 3px #553838;
    top: 0px;
  }
  .container .content {
    z-index: 122;
  }
  .container .content .hero {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .content .hero h1 {
    text-align: center;
    font-size: 33px;
    width: 333px;
    color: #7f90b5;
  }
  .container .content .hero p {
    width: 380px;
    padding: 30px 0px;
    text-align: center;
    color: #fff;
  }
  .container .content .hero .order-now {
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    width: 380px;
    border: none;
  }
  .container .content .hero .order-now input {
    width: 380px;
    border: 1px solid red;
    margin-bottom: 5px;
    font-size: 17px;
    padding: 10px 0px;
  }
  .container .content .hero .order-now input:hover {
    border: 2px solid #2871dd;
  }
  .container .content .hero .order-now .btn-order {
    border: none;
    background: #628dce;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    width: 200px;
    padding: 10px 0px;
  }
}
/*# sourceMappingURL=main.css.map */